# City Bike Data Clean Up

Data Source: https://www.citibikenyc.com/system-data
Years: 2019, 2018, 2017

In [1]:
# Imports
import pandas as pd
import numpy as np
import random
import os
from datetime import datetime

## 2019

In [2]:
masterDF_2019 = pd.DataFrame()

for month in ["01", "02","03","04","05","06","07","08","09","10","11","12"]:
    filepath = f"Data/raw/2019/2019{month}-citibike-tripdata.csv"
    
    df_input_2019 = pd.read_csv(filepath, low_memory=False)
    sample_2019 = df_input_2019.sample(frac=0.01, random_state=42)
    masterDF_2019 = masterDF_2019.append(sample_2019)
    
    print(month)

01
02
03
04
05
06
07
08
09
10
11
12

In [3]:
masterDF_2019.reset_index(drop=True, inplace=True)

In [4]:
masterDF_2019

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,574,2019-01-30 17:30:59.7870,2019-01-30 17:40:34.2530,359.0,E 47 St & Park Ave,40.755103,-73.974987,528.0,2 Ave & E 31 St,40.742909,-73.977061,33216,Subscriber,1993,1
1,709,2019-01-23 19:28:12.1530,2019-01-23 19:40:01.7030,493.0,W 45 St & 6 Ave,40.756800,-73.982912,3159.0,W 67 St & Broadway,40.774925,-73.982666,16092,Subscriber,1990,1
2,1993,2019-01-26 18:30:29.2160,2019-01-26 19:03:43.0780,503.0,E 20 St & Park Ave,40.738274,-73.987520,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,34868,Subscriber,1977,1
3,392,2019-01-05 18:31:40.6190,2019-01-05 18:38:13.1980,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,31405,Subscriber,1996,1
4,543,2019-01-23 15:24:24.9240,2019-01-23 15:33:28.8630,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3671.0,E 81 St & 2 Ave,40.774779,-73.954275,35695,Subscriber,1998,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205513,1252,2019-12-27 12:17:05.4350,2019-12-27 12:37:58.1530,3671.0,E 81 St & 2 Ave,40.774779,-73.954275,455.0,1 Ave & E 44 St,40.750020,-73.969053,40683,Customer,1969,0
205514,1542,2019-12-19 23:27:58.6120,2019-12-19 23:53:41.4270,3771.0,McKibbin St & Bogart St,40.706237,-73.933871,412.0,Forsyth St & Canal St,40.715816,-73.994224,40463,Subscriber,1996,1
205515,370,2019-12-21 16:57:12.4960,2019-12-21 17:03:22.8590,3332.0,Degraw St & Hoyt St,40.681990,-73.990790,3486.0,Schermerhorn St & Bond St,40.688417,-73.984517,38709,Subscriber,1974,2
205516,206,2019-12-23 13:09:30.1640,2019-12-23 13:12:56.8760,3545.0,Broadway & W 122 St,40.812056,-73.961255,3508.0,St Nicholas Ave & Manhattan Ave,40.809725,-73.953149,32155,Subscriber,1986,1
205517,616,2019-12-29 00:29:25.9390,2019-12-29 00:39:42.6630,368.0,Carmine St & 6 Ave,40.730386,-74.002150,349.0,Rivington St & Ridge St,40.718502,-73.983299,39390,Subscriber,1991,1

In [5]:
rename_df_2019 = masterDF_2019.rename(columns={
    "tripduration": "trip_duration",
    "starttime": "start_time",
    "stoptime": "stop_time",
    "start station id": "start_station_id",
    "start station name": "start_station_name",
    "start station latitude": "start_station_latitude",
    "start station longitude": "start_station_longitude",
    "end station id": "end_station_id",
    "end station name": "end_station_name",
    "end station latitude": "end_station_latitude",
    "end station longitude": "end_station_longitude",
    "bikeid": "bike_id",
    "usertype": "user_type",
    "birth year": "birth_year"
})

In [6]:
# Change the data type to string forid's
rename_df_2019["start_station_id"] = rename_df_2019["start_station_id"].astype(str)
rename_df_2019["end_station_id"] = rename_df_2019["end_station_id"].astype(str)
rename_df_2019["bike_id"] = rename_df_2019["bike_id"].astype(str)

In [7]:
# lable the one and zero values to gender type
rename_df_2019["gender"] = rename_df_2019["gender"].replace({
    0: "Unknown",
    1: "Male",
    2: "Female"
})
rename_df_2019

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender
0,574,2019-01-30 17:30:59.7870,2019-01-30 17:40:34.2530,359.0,E 47 St & Park Ave,40.755103,-73.974987,528.0,2 Ave & E 31 St,40.742909,-73.977061,33216,Subscriber,1993,Male
1,709,2019-01-23 19:28:12.1530,2019-01-23 19:40:01.7030,493.0,W 45 St & 6 Ave,40.756800,-73.982912,3159.0,W 67 St & Broadway,40.774925,-73.982666,16092,Subscriber,1990,Male
2,1993,2019-01-26 18:30:29.2160,2019-01-26 19:03:43.0780,503.0,E 20 St & Park Ave,40.738274,-73.987520,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,34868,Subscriber,1977,Male
3,392,2019-01-05 18:31:40.6190,2019-01-05 18:38:13.1980,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,31405,Subscriber,1996,Male
4,543,2019-01-23 15:24:24.9240,2019-01-23 15:33:28.8630,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3671.0,E 81 St & 2 Ave,40.774779,-73.954275,35695,Subscriber,1998,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205513,1252,2019-12-27 12:17:05.4350,2019-12-27 12:37:58.1530,3671.0,E 81 St & 2 Ave,40.774779,-73.954275,455.0,1 Ave & E 44 St,40.750020,-73.969053,40683,Customer,1969,Unknown
205514,1542,2019-12-19 23:27:58.6120,2019-12-19 23:53:41.4270,3771.0,McKibbin St & Bogart St,40.706237,-73.933871,412.0,Forsyth St & Canal St,40.715816,-73.994224,40463,Subscriber,1996,Male
205515,370,2019-12-21 16:57:12.4960,2019-12-21 17:03:22.8590,3332.0,Degraw St & Hoyt St,40.681990,-73.990790,3486.0,Schermerhorn St & Bond St,40.688417,-73.984517,38709,Subscriber,1974,Female
205516,206,2019-12-23 13:09:30.1640,2019-12-23 13:12:56.8760,3545.0,Broadway & W 122 St,40.812056,-73.961255,3508.0,St Nicholas Ave & Manhattan Ave,40.809725,-73.953149,32155,Subscriber,1986,Male
205517,616,2019-12-29 00:29:25.9390,2019-12-29 00:39:42.6630,368.0,Carmine St & 6 Ave,40.730386,-74.002150,349.0,Rivington St & Ridge St,40.718502,-73.983299,39390,Subscriber,1991,Male

In [8]:
# get age of the riders
currentYear = datetime.now().year

rename_df_2019["age"] = currentYear - rename_df_2019["birth_year"]

rename_df_2019

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,age
0,574,2019-01-30 17:30:59.7870,2019-01-30 17:40:34.2530,359.0,E 47 St & Park Ave,40.755103,-73.974987,528.0,2 Ave & E 31 St,40.742909,-73.977061,33216,Subscriber,1993,Male,28
1,709,2019-01-23 19:28:12.1530,2019-01-23 19:40:01.7030,493.0,W 45 St & 6 Ave,40.756800,-73.982912,3159.0,W 67 St & Broadway,40.774925,-73.982666,16092,Subscriber,1990,Male,31
2,1993,2019-01-26 18:30:29.2160,2019-01-26 19:03:43.0780,503.0,E 20 St & Park Ave,40.738274,-73.987520,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,34868,Subscriber,1977,Male,44
3,392,2019-01-05 18:31:40.6190,2019-01-05 18:38:13.1980,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,31405,Subscriber,1996,Male,25
4,543,2019-01-23 15:24:24.9240,2019-01-23 15:33:28.8630,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3671.0,E 81 St & 2 Ave,40.774779,-73.954275,35695,Subscriber,1998,Male,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205513,1252,2019-12-27 12:17:05.4350,2019-12-27 12:37:58.1530,3671.0,E 81 St & 2 Ave,40.774779,-73.954275,455.0,1 Ave & E 44 St,40.750020,-73.969053,40683,Customer,1969,Unknown,52
205514,1542,2019-12-19 23:27:58.6120,2019-12-19 23:53:41.4270,3771.0,McKibbin St & Bogart St,40.706237,-73.933871,412.0,Forsyth St & Canal St,40.715816,-73.994224,40463,Subscriber,1996,Male,25
205515,370,2019-12-21 16:57:12.4960,2019-12-21 17:03:22.8590,3332.0,Degraw St & Hoyt St,40.681990,-73.990790,3486.0,Schermerhorn St & Bond St,40.688417,-73.984517,38709,Subscriber,1974,Female,47
205516,206,2019-12-23 13:09:30.1640,2019-12-23 13:12:56.8760,3545.0,Broadway & W 122 St,40.812056,-73.961255,3508.0,St Nicholas Ave & Manhattan Ave,40.809725,-73.953149,32155,Subscriber,1986,Male,35
205517,616,2019-12-29 00:29:25.9390,2019-12-29 00:39:42.6630,368.0,Carmine St & 6 Ave,40.730386,-74.002150,349.0,Rivington St & Ridge St,40.718502,-73.983299,39390,Subscriber,1991,Male,30

In [9]:
# add column year
rename_df_2019["year"]=2019
rename_df_2019

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,age,year
0,574,2019-01-30 17:30:59.7870,2019-01-30 17:40:34.2530,359.0,E 47 St & Park Ave,40.755103,-73.974987,528.0,2 Ave & E 31 St,40.742909,-73.977061,33216,Subscriber,1993,Male,28,2019
1,709,2019-01-23 19:28:12.1530,2019-01-23 19:40:01.7030,493.0,W 45 St & 6 Ave,40.756800,-73.982912,3159.0,W 67 St & Broadway,40.774925,-73.982666,16092,Subscriber,1990,Male,31,2019
2,1993,2019-01-26 18:30:29.2160,2019-01-26 19:03:43.0780,503.0,E 20 St & Park Ave,40.738274,-73.987520,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,34868,Subscriber,1977,Male,44,2019
3,392,2019-01-05 18:31:40.6190,2019-01-05 18:38:13.1980,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,31405,Subscriber,1996,Male,25,2019
4,543,2019-01-23 15:24:24.9240,2019-01-23 15:33:28.8630,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3671.0,E 81 St & 2 Ave,40.774779,-73.954275,35695,Subscriber,1998,Male,23,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205513,1252,2019-12-27 12:17:05.4350,2019-12-27 12:37:58.1530,3671.0,E 81 St & 2 Ave,40.774779,-73.954275,455.0,1 Ave & E 44 St,40.750020,-73.969053,40683,Customer,1969,Unknown,52,2019
205514,1542,2019-12-19 23:27:58.6120,2019-12-19 23:53:41.4270,3771.0,McKibbin St & Bogart St,40.706237,-73.933871,412.0,Forsyth St & Canal St,40.715816,-73.994224,40463,Subscriber,1996,Male,25,2019
205515,370,2019-12-21 16:57:12.4960,2019-12-21 17:03:22.8590,3332.0,Degraw St & Hoyt St,40.681990,-73.990790,3486.0,Schermerhorn St & Bond St,40.688417,-73.984517,38709,Subscriber,1974,Female,47,2019
205516,206,2019-12-23 13:09:30.1640,2019-12-23 13:12:56.8760,3545.0,Broadway & W 122 St,40.812056,-73.961255,3508.0,St Nicholas Ave & Manhattan Ave,40.809725,-73.953149,32155,Subscriber,1986,Male,35,2019
205517,616,2019-12-29 00:29:25.9390,2019-12-29 00:39:42.6630,368.0,Carmine St & 6 Ave,40.730386,-74.002150,349.0,Rivington St & Ridge St,40.718502,-73.983299,39390,Subscriber,1991,Male,30,2019

In [10]:
rename_df_2019.to_csv("Data/clean/2019_trip_data.csv")

## 2018

In [11]:
masterDF_2018 = pd.DataFrame()

for month in ["01", "02","03","04","05","06","07","08","09","10","11","12"]:
    filepath = f"Data/raw/2018/2018{month}-citibike-tripdata.csv"
    
    df_input_2018 = pd.read_csv(filepath, low_memory=False)
    sample_2018 = df_input_2018.sample(frac=0.01, random_state=42)
    masterDF_2018 = masterDF_2018.append(sample_2018)
    
    print(month)

01
02
03
04
05
06
07
08
09
10
11
12

In [12]:
masterDF_2018.reset_index(drop=True, inplace=True)
masterDF_2018

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,592,2018-01-22 08:02:38.5270,2018-01-22 08:12:31.2680,478.0,11 Ave & W 41 St,40.760301,-73.998842,505.0,6 Ave & W 33 St,40.749013,-73.988484,33395,Subscriber,1986,1
1,450,2018-01-03 10:00:25.9200,2018-01-03 10:07:56.2390,509.0,9 Ave & W 22 St,40.745497,-74.001971,474.0,5 Ave & E 29 St,40.745168,-73.986831,29115,Subscriber,1981,1
2,629,2018-01-30 18:52:01.6100,2018-01-30 19:02:31.3370,379.0,W 31 St & 7 Ave,40.749156,-73.991600,487.0,E 20 St & FDR Drive,40.733143,-73.975739,26062,Subscriber,1992,1
3,389,2018-01-24 19:06:03.7390,2018-01-24 19:12:33.3570,3090.0,N 8 St & Driggs Ave,40.717746,-73.956001,3106.0,Driggs Ave & N Henry St,40.723250,-73.943080,17766,Subscriber,1974,1
4,302,2018-01-08 17:09:12.6380,2018-01-08 17:14:15.5780,537.0,Lexington Ave & E 24 St,40.740259,-73.984092,483.0,E 12 St & 3 Ave,40.732233,-73.988900,30799,Subscriber,1978,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175479,859,2018-12-01 08:39:25.1840,2018-12-01 08:53:45.1540,3140.0,1 Ave & E 78 St,40.771404,-73.953517,3493.0,E 118 St & 3 Ave,40.799139,-73.938915,25173,Subscriber,1957,1
175480,927,2018-12-17 10:28:41.0990,2018-12-17 10:44:08.7950,285.0,Broadway & E 14 St,40.734546,-73.990741,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,33984,Subscriber,1984,1
175481,500,2018-12-11 20:48:28.0920,2018-12-11 20:56:48.2700,393.0,E 5 St & Avenue C,40.722992,-73.979955,439.0,E 4 St & 2 Ave,40.726281,-73.989780,28814,Subscriber,1984,1
175482,930,2018-12-30 17:34:40.8440,2018-12-30 17:50:11.5860,3226.0,W 82 St & Central Park West,40.782750,-73.971370,3150.0,E 85 St & York Ave,40.775369,-73.948034,34419,Subscriber,1993,1
175483,1940,2018-12-15 14:30:29.5560,2018-12-15 15:02:50.3970,476.0,E 31 St & 3 Ave,40.743943,-73.979661,3136.0,5 Ave & E 63 St,40.766368,-73.971518,34024,Customer,1969,0

In [13]:
rename_df_2018 = masterDF_2018.rename(columns={
    "tripduration": "trip_duration",
    "starttime": "start_time",
    "stoptime": "stop_time",
    "start station id": "start_station_id",
    "start station name": "start_station_name",
    "start station latitude": "start_station_latitude",
    "start station longitude": "start_station_longitude",
    "end station id": "end_station_id",
    "end station name": "end_station_name",
    "end station latitude": "end_station_latitude",
    "end station longitude": "end_station_longitude",
    "bikeid": "bike_id",
    "usertype": "user_type",
    "birth year": "birth_year"
})

In [14]:
# Change the data type to string forid's
rename_df_2018["start_station_id"] = rename_df_2018["start_station_id"].astype(str)
rename_df_2018["end_station_id"] = rename_df_2018["end_station_id"].astype(str)
rename_df_2018["bike_id"] = rename_df_2018["bike_id"].astype(str)

In [15]:
# lable the one and zero values to gender type
rename_df_2018["gender"] = rename_df_2018["gender"].replace({
    0: "Unknown",
    1: "Male",
    2: "Female"
})
rename_df_2018

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender
0,592,2018-01-22 08:02:38.5270,2018-01-22 08:12:31.2680,478.0,11 Ave & W 41 St,40.760301,-73.998842,505.0,6 Ave & W 33 St,40.749013,-73.988484,33395,Subscriber,1986,Male
1,450,2018-01-03 10:00:25.9200,2018-01-03 10:07:56.2390,509.0,9 Ave & W 22 St,40.745497,-74.001971,474.0,5 Ave & E 29 St,40.745168,-73.986831,29115,Subscriber,1981,Male
2,629,2018-01-30 18:52:01.6100,2018-01-30 19:02:31.3370,379.0,W 31 St & 7 Ave,40.749156,-73.991600,487.0,E 20 St & FDR Drive,40.733143,-73.975739,26062,Subscriber,1992,Male
3,389,2018-01-24 19:06:03.7390,2018-01-24 19:12:33.3570,3090.0,N 8 St & Driggs Ave,40.717746,-73.956001,3106.0,Driggs Ave & N Henry St,40.723250,-73.943080,17766,Subscriber,1974,Male
4,302,2018-01-08 17:09:12.6380,2018-01-08 17:14:15.5780,537.0,Lexington Ave & E 24 St,40.740259,-73.984092,483.0,E 12 St & 3 Ave,40.732233,-73.988900,30799,Subscriber,1978,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175479,859,2018-12-01 08:39:25.1840,2018-12-01 08:53:45.1540,3140.0,1 Ave & E 78 St,40.771404,-73.953517,3493.0,E 118 St & 3 Ave,40.799139,-73.938915,25173,Subscriber,1957,Male
175480,927,2018-12-17 10:28:41.0990,2018-12-17 10:44:08.7950,285.0,Broadway & E 14 St,40.734546,-73.990741,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,33984,Subscriber,1984,Male
175481,500,2018-12-11 20:48:28.0920,2018-12-11 20:56:48.2700,393.0,E 5 St & Avenue C,40.722992,-73.979955,439.0,E 4 St & 2 Ave,40.726281,-73.989780,28814,Subscriber,1984,Male
175482,930,2018-12-30 17:34:40.8440,2018-12-30 17:50:11.5860,3226.0,W 82 St & Central Park West,40.782750,-73.971370,3150.0,E 85 St & York Ave,40.775369,-73.948034,34419,Subscriber,1993,Male
175483,1940,2018-12-15 14:30:29.5560,2018-12-15 15:02:50.3970,476.0,E 31 St & 3 Ave,40.743943,-73.979661,3136.0,5 Ave & E 63 St,40.766368,-73.971518,34024,Customer,1969,Unknown

In [16]:
# get age of the riders
currentYear = datetime.now().year

rename_df_2018["age"] = currentYear - rename_df_2018["birth_year"]

rename_df_2018

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,age
0,592,2018-01-22 08:02:38.5270,2018-01-22 08:12:31.2680,478.0,11 Ave & W 41 St,40.760301,-73.998842,505.0,6 Ave & W 33 St,40.749013,-73.988484,33395,Subscriber,1986,Male,35
1,450,2018-01-03 10:00:25.9200,2018-01-03 10:07:56.2390,509.0,9 Ave & W 22 St,40.745497,-74.001971,474.0,5 Ave & E 29 St,40.745168,-73.986831,29115,Subscriber,1981,Male,40
2,629,2018-01-30 18:52:01.6100,2018-01-30 19:02:31.3370,379.0,W 31 St & 7 Ave,40.749156,-73.991600,487.0,E 20 St & FDR Drive,40.733143,-73.975739,26062,Subscriber,1992,Male,29
3,389,2018-01-24 19:06:03.7390,2018-01-24 19:12:33.3570,3090.0,N 8 St & Driggs Ave,40.717746,-73.956001,3106.0,Driggs Ave & N Henry St,40.723250,-73.943080,17766,Subscriber,1974,Male,47
4,302,2018-01-08 17:09:12.6380,2018-01-08 17:14:15.5780,537.0,Lexington Ave & E 24 St,40.740259,-73.984092,483.0,E 12 St & 3 Ave,40.732233,-73.988900,30799,Subscriber,1978,Male,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175479,859,2018-12-01 08:39:25.1840,2018-12-01 08:53:45.1540,3140.0,1 Ave & E 78 St,40.771404,-73.953517,3493.0,E 118 St & 3 Ave,40.799139,-73.938915,25173,Subscriber,1957,Male,64
175480,927,2018-12-17 10:28:41.0990,2018-12-17 10:44:08.7950,285.0,Broadway & E 14 St,40.734546,-73.990741,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,33984,Subscriber,1984,Male,37
175481,500,2018-12-11 20:48:28.0920,2018-12-11 20:56:48.2700,393.0,E 5 St & Avenue C,40.722992,-73.979955,439.0,E 4 St & 2 Ave,40.726281,-73.989780,28814,Subscriber,1984,Male,37
175482,930,2018-12-30 17:34:40.8440,2018-12-30 17:50:11.5860,3226.0,W 82 St & Central Park West,40.782750,-73.971370,3150.0,E 85 St & York Ave,40.775369,-73.948034,34419,Subscriber,1993,Male,28
175483,1940,2018-12-15 14:30:29.5560,2018-12-15 15:02:50.3970,476.0,E 31 St & 3 Ave,40.743943,-73.979661,3136.0,5 Ave & E 63 St,40.766368,-73.971518,34024,Customer,1969,Unknown,52

In [17]:
# add column year
rename_df_2018["year"]=2018
rename_df_2018

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,age,year
0,592,2018-01-22 08:02:38.5270,2018-01-22 08:12:31.2680,478.0,11 Ave & W 41 St,40.760301,-73.998842,505.0,6 Ave & W 33 St,40.749013,-73.988484,33395,Subscriber,1986,Male,35,2018
1,450,2018-01-03 10:00:25.9200,2018-01-03 10:07:56.2390,509.0,9 Ave & W 22 St,40.745497,-74.001971,474.0,5 Ave & E 29 St,40.745168,-73.986831,29115,Subscriber,1981,Male,40,2018
2,629,2018-01-30 18:52:01.6100,2018-01-30 19:02:31.3370,379.0,W 31 St & 7 Ave,40.749156,-73.991600,487.0,E 20 St & FDR Drive,40.733143,-73.975739,26062,Subscriber,1992,Male,29,2018
3,389,2018-01-24 19:06:03.7390,2018-01-24 19:12:33.3570,3090.0,N 8 St & Driggs Ave,40.717746,-73.956001,3106.0,Driggs Ave & N Henry St,40.723250,-73.943080,17766,Subscriber,1974,Male,47,2018
4,302,2018-01-08 17:09:12.6380,2018-01-08 17:14:15.5780,537.0,Lexington Ave & E 24 St,40.740259,-73.984092,483.0,E 12 St & 3 Ave,40.732233,-73.988900,30799,Subscriber,1978,Male,43,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175479,859,2018-12-01 08:39:25.1840,2018-12-01 08:53:45.1540,3140.0,1 Ave & E 78 St,40.771404,-73.953517,3493.0,E 118 St & 3 Ave,40.799139,-73.938915,25173,Subscriber,1957,Male,64,2018
175480,927,2018-12-17 10:28:41.0990,2018-12-17 10:44:08.7950,285.0,Broadway & E 14 St,40.734546,-73.990741,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,33984,Subscriber,1984,Male,37,2018
175481,500,2018-12-11 20:48:28.0920,2018-12-11 20:56:48.2700,393.0,E 5 St & Avenue C,40.722992,-73.979955,439.0,E 4 St & 2 Ave,40.726281,-73.989780,28814,Subscriber,1984,Male,37,2018
175482,930,2018-12-30 17:34:40.8440,2018-12-30 17:50:11.5860,3226.0,W 82 St & Central Park West,40.782750,-73.971370,3150.0,E 85 St & York Ave,40.775369,-73.948034,34419,Subscriber,1993,Male,28,2018
175483,1940,2018-12-15 14:30:29.5560,2018-12-15 15:02:50.3970,476.0,E 31 St & 3 Ave,40.743943,-73.979661,3136.0,5 Ave & E 63 St,40.766368,-73.971518,34024,Customer,1969,Unknown,52,2018

In [18]:
rename_df_2018.to_csv("Data/clean/2018_trip_data.csv")

# 2017

In [19]:
masterDF_2017 = pd.DataFrame()

for month in ["01", "02","03","04","05","06","07","08","09","10","11","12"]:
    filepath = f"Data/raw/2017/2017{month}-citibike-tripdata.csv"
    
    df_input_2017 = pd.read_csv(filepath, low_memory=False)
    sample_2017 = df_input_2017.sample(frac=0.01, random_state=42)
    masterDF_2017 = masterDF_2017.append(sample_2017)
    
    print(month)

01
02
03
04
05
06
07
08
09
10
11
12

In [20]:
masterDF_2017.reset_index(drop=True, inplace=True)
masterDF_2017

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,393,2017-01-21 23:04:08,2017-01-21 23:10:41,441,E 52 St & 2 Ave,40.756014,-73.967416,527,E 33 St & 2 Ave,40.744023,-73.976056,26621,Subscriber,1985.0,1
1,726,2017-01-19 08:50:17,2017-01-19 09:02:24,2008,Little West St & 1 Pl,40.705693,-74.016777,330,Reade St & Broadway,40.714505,-74.005628,18557,Subscriber,1979.0,1
2,608,2017-01-31 07:45:54,2017-01-31 07:56:03,523,W 38 St & 8 Ave,40.754666,-73.991382,491,E 24 St & Park Ave S,40.740964,-73.986022,19212,Subscriber,1974.0,1
3,208,2017-01-30 15:16:52,2017-01-30 15:20:21,3382,Carroll St & Smith St,40.680611,-73.994758,3321,Clinton St & Union St,40.683116,-73.997853,19092,Subscriber,1973.0,1
4,311,2017-01-27 16:02:02,2017-01-27 16:07:14,3389,Carroll St & Columbia St,40.683046,-74.003486,3344,Pioneer St & Van Brunt St,40.679043,-74.011169,16971,Subscriber,1985.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163642,247,2017-12-11 06:27:58,2017-12-11 06:32:05,3150,E 85 St & York Ave,40.775369,-73.948034,3238,E 80 St & 2 Ave,40.773914,-73.954395,20261,Subscriber,1960.0,1
163643,346,2017-12-01 06:25:43,2017-12-01 06:31:29,3106,Driggs Ave & N Henry St,40.723250,-73.943080,3086,Graham Ave & Conselyea St,40.715143,-73.944507,16310,Subscriber,1995.0,2
163644,715,2017-12-01 09:04:44,2017-12-01 09:16:39,423,W 54 St & 9 Ave,40.765849,-73.986905,468,Broadway & W 56 St,40.765265,-73.981923,19263,Subscriber,1975.0,1
163645,508,2017-12-13 11:19:38,2017-12-13 11:28:07,523,W 38 St & 8 Ave,40.754666,-73.991382,478,11 Ave & W 41 St,40.760301,-73.998842,30650,Subscriber,1956.0,1
163646,264,2017-12-06 11:18:02,2017-12-06 11:22:27,3522,37 St & 24 Ave,40.770148,-73.912094,3526,31 St & 23 Ave,40.774788,-73.912555,15634,Subscriber,NaN,0

In [21]:
rename_df_2017 = masterDF_2017.rename(columns={
    "tripduration": "trip_duration",
    "starttime": "start_time",
    "stoptime": "stop_time",
    "start station id": "start_station_id",
    "start station name": "start_station_name",
    "start station latitude": "start_station_latitude",
    "start station longitude": "start_station_longitude",
    "end station id": "end_station_id",
    "end station name": "end_station_name",
    "end station latitude": "end_station_latitude",
    "end station longitude": "end_station_longitude",
    "bikeid": "bike_id",
    "usertype": "user_type",
    "birth year": "birth_year"
})

In [22]:
# Change the data type to string forid's
rename_df_2017["start_station_id"] = rename_df_2017["start_station_id"].astype(str)
rename_df_2017["end_station_id"] = rename_df_2017["end_station_id"].astype(str)
rename_df_2017["bike_id"] = rename_df_2017["bike_id"].astype(str)

In [23]:
# lable the one and zero values to gender type
rename_df_2017["gender"] = rename_df_2017["gender"].replace({
    0: "Unknown",
    1: "Male",
    2: "Female"
})
rename_df_2017

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender
0,393,2017-01-21 23:04:08,2017-01-21 23:10:41,441,E 52 St & 2 Ave,40.756014,-73.967416,527,E 33 St & 2 Ave,40.744023,-73.976056,26621,Subscriber,1985.0,Male
1,726,2017-01-19 08:50:17,2017-01-19 09:02:24,2008,Little West St & 1 Pl,40.705693,-74.016777,330,Reade St & Broadway,40.714505,-74.005628,18557,Subscriber,1979.0,Male
2,608,2017-01-31 07:45:54,2017-01-31 07:56:03,523,W 38 St & 8 Ave,40.754666,-73.991382,491,E 24 St & Park Ave S,40.740964,-73.986022,19212,Subscriber,1974.0,Male
3,208,2017-01-30 15:16:52,2017-01-30 15:20:21,3382,Carroll St & Smith St,40.680611,-73.994758,3321,Clinton St & Union St,40.683116,-73.997853,19092,Subscriber,1973.0,Male
4,311,2017-01-27 16:02:02,2017-01-27 16:07:14,3389,Carroll St & Columbia St,40.683046,-74.003486,3344,Pioneer St & Van Brunt St,40.679043,-74.011169,16971,Subscriber,1985.0,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163642,247,2017-12-11 06:27:58,2017-12-11 06:32:05,3150,E 85 St & York Ave,40.775369,-73.948034,3238,E 80 St & 2 Ave,40.773914,-73.954395,20261,Subscriber,1960.0,Male
163643,346,2017-12-01 06:25:43,2017-12-01 06:31:29,3106,Driggs Ave & N Henry St,40.723250,-73.943080,3086,Graham Ave & Conselyea St,40.715143,-73.944507,16310,Subscriber,1995.0,Female
163644,715,2017-12-01 09:04:44,2017-12-01 09:16:39,423,W 54 St & 9 Ave,40.765849,-73.986905,468,Broadway & W 56 St,40.765265,-73.981923,19263,Subscriber,1975.0,Male
163645,508,2017-12-13 11:19:38,2017-12-13 11:28:07,523,W 38 St & 8 Ave,40.754666,-73.991382,478,11 Ave & W 41 St,40.760301,-73.998842,30650,Subscriber,1956.0,Male
163646,264,2017-12-06 11:18:02,2017-12-06 11:22:27,3522,37 St & 24 Ave,40.770148,-73.912094,3526,31 St & 23 Ave,40.774788,-73.912555,15634,Subscriber,NaN,Unknown

In [24]:
# get age of the riders
currentYear = datetime.now().year

rename_df_2017["age"] = currentYear - rename_df_2017["birth_year"].round(0)

rename_df_2017

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,age
0,393,2017-01-21 23:04:08,2017-01-21 23:10:41,441,E 52 St & 2 Ave,40.756014,-73.967416,527,E 33 St & 2 Ave,40.744023,-73.976056,26621,Subscriber,1985.0,Male,36.0
1,726,2017-01-19 08:50:17,2017-01-19 09:02:24,2008,Little West St & 1 Pl,40.705693,-74.016777,330,Reade St & Broadway,40.714505,-74.005628,18557,Subscriber,1979.0,Male,42.0
2,608,2017-01-31 07:45:54,2017-01-31 07:56:03,523,W 38 St & 8 Ave,40.754666,-73.991382,491,E 24 St & Park Ave S,40.740964,-73.986022,19212,Subscriber,1974.0,Male,47.0
3,208,2017-01-30 15:16:52,2017-01-30 15:20:21,3382,Carroll St & Smith St,40.680611,-73.994758,3321,Clinton St & Union St,40.683116,-73.997853,19092,Subscriber,1973.0,Male,48.0
4,311,2017-01-27 16:02:02,2017-01-27 16:07:14,3389,Carroll St & Columbia St,40.683046,-74.003486,3344,Pioneer St & Van Brunt St,40.679043,-74.011169,16971,Subscriber,1985.0,Female,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163642,247,2017-12-11 06:27:58,2017-12-11 06:32:05,3150,E 85 St & York Ave,40.775369,-73.948034,3238,E 80 St & 2 Ave,40.773914,-73.954395,20261,Subscriber,1960.0,Male,61.0
163643,346,2017-12-01 06:25:43,2017-12-01 06:31:29,3106,Driggs Ave & N Henry St,40.723250,-73.943080,3086,Graham Ave & Conselyea St,40.715143,-73.944507,16310,Subscriber,1995.0,Female,26.0
163644,715,2017-12-01 09:04:44,2017-12-01 09:16:39,423,W 54 St & 9 Ave,40.765849,-73.986905,468,Broadway & W 56 St,40.765265,-73.981923,19263,Subscriber,1975.0,Male,46.0
163645,508,2017-12-13 11:19:38,2017-12-13 11:28:07,523,W 38 St & 8 Ave,40.754666,-73.991382,478,11 Ave & W 41 St,40.760301,-73.998842,30650,Subscriber,1956.0,Male,65.0
163646,264,2017-12-06 11:18:02,2017-12-06 11:22:27,3522,37 St & 24 Ave,40.770148,-73.912094,3526,31 St & 23 Ave,40.774788,-73.912555,15634,Subscriber,NaN,Unknown,NaN

In [25]:
# add column year
rename_df_2017["year"]=2017
rename_df_2017

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,age,year
0,393,2017-01-21 23:04:08,2017-01-21 23:10:41,441,E 52 St & 2 Ave,40.756014,-73.967416,527,E 33 St & 2 Ave,40.744023,-73.976056,26621,Subscriber,1985.0,Male,36.0,2017
1,726,2017-01-19 08:50:17,2017-01-19 09:02:24,2008,Little West St & 1 Pl,40.705693,-74.016777,330,Reade St & Broadway,40.714505,-74.005628,18557,Subscriber,1979.0,Male,42.0,2017
2,608,2017-01-31 07:45:54,2017-01-31 07:56:03,523,W 38 St & 8 Ave,40.754666,-73.991382,491,E 24 St & Park Ave S,40.740964,-73.986022,19212,Subscriber,1974.0,Male,47.0,2017
3,208,2017-01-30 15:16:52,2017-01-30 15:20:21,3382,Carroll St & Smith St,40.680611,-73.994758,3321,Clinton St & Union St,40.683116,-73.997853,19092,Subscriber,1973.0,Male,48.0,2017
4,311,2017-01-27 16:02:02,2017-01-27 16:07:14,3389,Carroll St & Columbia St,40.683046,-74.003486,3344,Pioneer St & Van Brunt St,40.679043,-74.011169,16971,Subscriber,1985.0,Female,36.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163642,247,2017-12-11 06:27:58,2017-12-11 06:32:05,3150,E 85 St & York Ave,40.775369,-73.948034,3238,E 80 St & 2 Ave,40.773914,-73.954395,20261,Subscriber,1960.0,Male,61.0,2017
163643,346,2017-12-01 06:25:43,2017-12-01 06:31:29,3106,Driggs Ave & N Henry St,40.723250,-73.943080,3086,Graham Ave & Conselyea St,40.715143,-73.944507,16310,Subscriber,1995.0,Female,26.0,2017
163644,715,2017-12-01 09:04:44,2017-12-01 09:16:39,423,W 54 St & 9 Ave,40.765849,-73.986905,468,Broadway & W 56 St,40.765265,-73.981923,19263,Subscriber,1975.0,Male,46.0,2017
163645,508,2017-12-13 11:19:38,2017-12-13 11:28:07,523,W 38 St & 8 Ave,40.754666,-73.991382,478,11 Ave & W 41 St,40.760301,-73.998842,30650,Subscriber,1956.0,Male,65.0,2017
163646,264,2017-12-06 11:18:02,2017-12-06 11:22:27,3522,37 St & 24 Ave,40.770148,-73.912094,3526,31 St & 23 Ave,40.774788,-73.912555,15634,Subscriber,NaN,Unknown,NaN,2017

In [26]:
rename_df_2017.to_csv("Data/clean/2017_trip_data.csv")

## Data merge

In [27]:
# import files
file_name1 = os.path.join("Data/clean/2019_trip_data.csv")
file_name2 = os.path.join("Data/clean/2018_trip_data.csv")
file_name3 = os.path.join("Data/clean/2017_trip_data.csv")

trip_data_2019 = pd.read_csv(file_name1)
trip_data_2018 = pd.read_csv(file_name2)
trip_data_2017 = pd.read_csv(file_name3)

In [28]:
frames= [trip_data_2019, trip_data_2018, trip_data_2017]

In [33]:
merged_trip_data = pd.concat(frames)
merged_trip_data.reset_index(drop=True, inplace=True)

,Unnamed: 0,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,age,year
0,0,574,2019-01-30 17:30:59.7870,2019-01-30 17:40:34.2530,359.0,E 47 St & Park Ave,40.755103,-73.974987,528.0,2 Ave & E 31 St,40.742909,-73.977061,33216,Subscriber,1993.0,Male,28.0,2019
1,1,709,2019-01-23 19:28:12.1530,2019-01-23 19:40:01.7030,493.0,W 45 St & 6 Ave,40.756800,-73.982912,3159.0,W 67 St & Broadway,40.774925,-73.982666,16092,Subscriber,1990.0,Male,31.0,2019
2,2,1993,2019-01-26 18:30:29.2160,2019-01-26 19:03:43.0780,503.0,E 20 St & Park Ave,40.738274,-73.987520,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,34868,Subscriber,1977.0,Male,44.0,2019
3,3,392,2019-01-05 18:31:40.6190,2019-01-05 18:38:13.1980,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,31405,Subscriber,1996.0,Male,25.0,2019
4,4,543,2019-01-23 15:24:24.9240,2019-01-23 15:33:28.8630,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3671.0,E 81 St & 2 Ave,40.774779,-73.954275,35695,Subscriber,1998.0,Male,23.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544644,163642,247,2017-12-11 06:27:58,2017-12-11 06:32:05,3150.0,E 85 St & York Ave,40.775369,-73.948034,3238.0,E 80 St & 2 Ave,40.773914,-73.954395,20261,Subscriber,1960.0,Male,61.0,2017
544645,163643,346,2017-12-01 06:25:43,2017-12-01 06:31:29,3106.0,Driggs Ave & N Henry St,40.723250,-73.943080,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,16310,Subscriber,1995.0,Female,26.0,2017
544646,163644,715,2017-12-01 09:04:44,2017-12-01 09:16:39,423.0,W 54 St & 9 Ave,40.765849,-73.986905,468.0,Broadway & W 56 St,40.765265,-73.981923,19263,Subscriber,1975.0,Male,46.0,2017
544647,163645,508,2017-12-13 11:19:38,2017-12-13 11:28:07,523.0,W 38 St & 8 Ave,40.754666,-73.991382,478.0,11 Ave & W 41 St,40.760301,-73.998842,30650,Subscriber,1956.0,Male,65.0,2017
544648,163646,264,2017-12-06 11:18:02,2017-12-06 11:22:27,3522.0,37 St & 24 Ave,40.770148,-73.912094,3526.0,31 St & 23 Ave,40.774788,-73.912555,15634,Subscriber,NaN,Unknown,NaN,2017

In [34]:
merged_trip_data.to_csv("Data/clean/2019-2017_trip_data.csv")